body{
  background-color: #f5f6f8;
}

a{
  text-decoration: none;
  color: #000;
}
a.add-one:hover{
  color: cadetblue;
}
a.add-one:hover .card{
  background-color: #F0F0F0;
}
a.view-notes:hover{
  background-color: #000;
  color: #fff;
}